.form__input {
  width: 100%;
  min-height: 27px;
  margin-bottom: 30px;
  color: #fff;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #CCC;
  font-size: 14px;
  line-height: 1.21;
}