.popup__button {
  box-sizing: border-box;
  width: 100%;
  padding: 14px;
  color: #fff;
  text-align: center;
  font-size: clamp(14px, 4vw, 18px);
  line-height: 1.22;
  background-color: #000;
  border: 1px solid #000;
  border-radius: 2px;
}

.popup__button:hover {
  opacity: .8;
}