.card__like {
  min-width: 22px;
  height: 19px;
  padding: 0;
  background-color: transparent;
  background-image: url('../../../images/Like.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 0;
}

.card__like:hover {
  opacity: .5;
}